*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: #222;
}

h1 {
    font-size: 20px;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}